
body{
  font-family:serif;
}

.top-wrapper{
  background-image:url(kuma.png);
  background-size:cover;
}

/*ヘッダー*/
header{
  height:70px;
  background-color:rgba(0,0,0,0.7);
}

.header-right{
  float:right;
  height:70px
}

.link{
  height:70px;
  margin:0 0;
}

.header-right li{
  float:left;
  width:150px;
  list-style: none;
  line-height: 70px;
}

.header-right a{
  display: block;
  font-size:14px;
  text-decoration: none;
  text-align: center;
  color:white;
}

.header-right a:hover,.icon a:hover{
  background-color:rgba(255,255,255,0.1);
  transition: all 1s;
}

.header-left{
  float:left;
  height:70px;
}

.icon{
  height:70px;
  margin: 0 0;
}

.icon a{
  line-height: 70px;
  margin:0 10px;
  font-size: 24px;
  color:white;
  float:left;
  display: block;
  text-decoration: none;
}

.container{
  text-align: center;
  padding:100px 0;
}

.container h1{
  font-size: 48px;
  color:#fff;
  opacity: 0.8;
  letter-spacing: 5px;
}

.container p{
  font-size:22px;
  color:#fff;
  opacity: 0.9;
}

.btn{
  color:#fff;
  border-radius: 4px;
  font-size: 30px;
  margin: 0 20px;
  padding:10px 10px;
  display: inline-block;
  width:300px;
  opacity: 0.8;
  text-decoration: none;
}

.btn:hover{
  opacity: 1;
}


.site{
  background-color: #239b76;
}

.twitter{
  background-color: #55acee;
}
